
.heart{
    padding: 20px 35px;
    background-color: #39DB4A;
    border-radius: 0 37% 0 70%;
}
.ca{
    border-radius:13%;
}
.heart{
    position: absolute;
    z-index: 2;
}
#ha1{
    top: 70px;
    right: 16.1%;
}
#ha2{
    top: 70px;
    right: 44.8%;
}
#ha3{
    top: 70px;
    left: 20.7%;
}